<section class="splide" aria-label="Art Carousel">
  <div class="splide__track">
		<ul class="splide__list">

      {% for image in include.image_list %}

        <li class="splide__slide" data-splide-hash="{{ 'untitled-' | append: forloop.index }}"></li>

          <div class="art-carousel__slide">
            {% capture fullpath %}{{ site.baseurl }}/{{ include.image_root }}{{ image }}{% endcapture %}
            <div class="art-carousel__image">
              <img
                src="{{ fullpath | resize: '4x4>' }}"
                data-splide-lazy-srcset="{{ fullpath | remove_file_extension | append: '.webp' }}, {{ fullpath }}"
              />
            </div>
          </div>
        </li>
      {% endfor %}

		</ul>
  </div>
</section>

<script>
  let carousel = null;
  let hasInteracted = false;

  document.addEventListener("DOMContentLoaded", function () {

    carousel = new Splide( '.splide', {
      type: 'loop',
      speed: 850,
      autoplay: true,
      interval: 10000,
      lazyLoad: 'sequential',
      keyboard: 'global',
    } ).mount( window.splide.Extensions );

    carousel.on('drag', () => {
      if (hasInteracted) return;
      hasInteracted = true;

      const { Autoplay } = carousel.Components;
      Autoplay.pause();
    });

  }, false);

</script>
