html {
    background-color: #FFFFFF;
    color: #131313;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
}

.sections h1, .sections h2, .sections h3, .sections h4, .sections h5, .sections h6 {
  margin: 0;
}

.sections a {
  color: black;
  text-decoration: none;
}

.sections a h1, .sections a h2, .sections a h3 {
  text-decoration: underline;
}

.sections > * a {
  border: 1px solid black;
  border-radius: 3px;
  padding: 8px;
  margin: 8px;
}

.section-h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

.section-h4 {
  font-size: 0.8rem;
}

.sections > * > * a {
    color: white;
    background-color: #12127d;
    border: none;
}

.section-locations a {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  color: white;
  padding: 0.7rem;
}

.sections > * > * a svg {
  stroke: white;
}

.navigation-bar, .navigation-bar :link, .navigation-bar :visited {
  color: #FFFFFF;
  background-color: #12127d;
}

.nav-right > * {
  height: 2rem;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
}

.nav-right > * > * {
  max-height: 100%;
}

.navigation-bar svg {
    stroke: #FFFFFF;
    stroke-width: 0.08rem;
}

.navigation-bar {
  height: 6rem;
}

.navigation-bar > *, .nav-right > * {
  height: 5rem;
}

.navigation-bar > :first-child > * {
  width: 5rem;
}

svg {
    stroke: #2c2c2c;
}

.nav-right {
  margin-left: auto; 
  margin-right: 0;
  gap: 1.8rem;
}

.header-on-dark {
  color: white;
}


/* Handle build pages */
#ir-logo-bar, #location-dialog, .ir-EmailQuoteButtons-root {
  display: none !important;
}

/* Carousel */
.splide__pagination__page.is-active {
  background: #ccc !important;
}

.splide, .splide__track, .splide__list {
  height: calc(100vh - 6rem);
}

.art-carousel__slide {
  height: calc(100% - 24px);
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 24px;
  margin-top: 0;

  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  font-family: candara;
  color: #494949;
}

.art-carousel__title {
  font-size: 1.2rem;
}

.art-carousel__image {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.art-carousel__image > * {
  flex: 1 1 auto;
  height: 1px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.mechstack-footer {
  color: #222222;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 1rem 0;
  background-color: rgba(200, 200, 200, 0.3);
}

.mechstack-footer a {
  font-weight: bolder;
  color: black;
}
