html {
    background-color: #FFFFFF;
    color: #131313;
}

.navigation-bar, body {
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #000000;
}

.sections a {
  color: black;
  text-decoration: none;
}

.sections > * a {
  border: 1px solid black;
  border-radius: 3px;
  padding: 8px;
  margin: 8px;
}

.section-h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

.section-h4 {
  font-size: 0.8rem;
}

.sections > * > * a {
    color: white;
    background-color: #12127d;
    border: none;
}

.section-options a {
  color: white;
  text-decoration: none;
  border: none;
  background-color: initial;
  font-weight: 800;
  font-size: 2rem;
  padding: 0.2rem;
  margin: 0;
}

.section-options > * > img + *::after {
  opacity: 0.6;
}

.section-locations a {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  color: white;
  padding: 0.7rem;
}

.sections > * > * a svg {
  stroke: white;
}

.navigation-bar, .navigation-bar :link, .navigation-bar :visited {
  color: #FFFFFF;
  background-color: #12127d;
}

.nav-right > * {
  height: 2rem;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
}

.nav-right > * > * {
  max-height: 100%;
}

.navigation-bar svg {
    stroke: #FFFFFF;
    stroke-width: 0.08rem;
}

.navigation-bar {
  height: 6rem;
}

.navigation-bar > *, .nav-right > * {
  height: 5rem;
}

.navigation-bar > :first-child > * {
  width: 5rem;
}

.sections {

}

/* Section */
.sections > * {

}

/* Block */
.sections > * > * {

}

svg {
    stroke: #2c2c2c;
}

.nav-right {
  margin-left: auto; 
  margin-right: 0;
  gap: 1.8rem;
}

.header-on-dark {
  color: white;
}


/* Handle build pages */
#ir-logo-bar, #location-dialog, .ir-EmailQuoteButtons-root {
  display: none !important;
}
