---
permalink: /
layout: default
---

<div>
  <div>
    {% include picture.html url='assets/photos/redCabin.jpg' title='Red Cabin' %}
    <div>
      <a href="tel:4057882393" class="center-content">
        <i data-feather="phone"></i>
        (405) 788-2393
      </a>
      <a href="mailto:pnlstoragebuildings@yahoo.com" class="center-content">
        <i data-feather="mail"></i>
        pnlstoragebuildings@yahoo.com
      </a>
    </div>
  </div>
</div>

<div class="section-locations">
  <div>
    <!-- {% include picture.html url='assets/photos/redCabin.jpg' title='Red Cabin' %} -->
    <div>
      <a href="https://goo.gl/maps/RTuVvjx5waeYZFQG6" class="center-content">
          <i data-feather="map-pin"></i>
          <div class="section-h3">Calumet, Oklahoma</div>
          <div class="section-h4">564 S. Calumet Road, Calument, Oklahoma 73014</div>
      </a>
      <a href="https://goo.gl/maps/KGZMpM2VyKxeQiZa9" class="center-content">
          <i data-feather="map-pin"></i>
          <div class="section-h3">Weatherford, Oklahoma</div>
          <div class="section-h4">2907 E. Main Street, Weatherford, Oklahoma 73096</div>
      </a>
    </div>
  </div>
</div>
