---
permalink: /
layout: default
---

<div class="hero-image">
  <div class="hero-overlay"></div>
  <div class="hero-content">
    <h1>
      We're Here For Your Outdoor Storage and Carport Needs
    </h1>
    <h1>
      Garages, RV Covers, and Even Tiny Homes
    </h1>
  </div>
</div>

<div class="sections" role="main">

  <div class="section-locations">
    <div>
      {% include picture.html url='assets/photos/woodBuildingsExteriors/IMG_0937.jpeg' title='Blue Cabin' %}
      <div>
        <a href="https://maps.app.goo.gl/oQV1A3ATrroKzikH9" class="center-content">
            <div class="section-h3">Alexandria, Alabama</div>
            <div class="section-h4">6790 U.S. Hwy 431, Alexandria, AL 36250</div>
        </a>
        <a href="https://maps.app.goo.gl/8p626ed2wWovU8en9" class="center-content">
            <div class="section-h3">Oxford, Alabama</div>
            <div class="section-h4">1909 US Hwy 78 E, Oxford, AL 36203</div>
        </a>
      </div>
    </div>

    <div>
      <div>
        <a href="tel:2563905561" class="center-content">
          <i data-feather="phone"></i>
          (256) 390-5561
        </a>
        <a href="mailto:www.plagunter32@yahoo.com" class="center-content">
          <i data-feather="mail"></i>
          www.plagunter32@yahoo.com
        </a>
      </div>
    </div>
  </div>

  <div>
    <div>
      {% include picture.html url='assets/photos/tinyHomes/IMG_0382.jpeg' title='Interior' %}
      <div>
        <a href="/build/" class="center-content">
          <i data-feather="tool"></i>
          Choose Your New Building
        </a>
      </div>
    </div>
  </div>


  <!-- Desktop slideshows -->
  <a href="/slideshow/tinyhomes/" class="hide-on-mobile">
    <h2>Tiny Homes</h2>
    {% include picture.html url='assets/photos/tinyHomes/IMG_2397.jpeg' title='Finished Out Tiny Home' %}
  </a>
  <a href="/slideshow/wood/" class="hide-on-mobile">
    {% include picture.html url='assets/photos/woodBuildingsExteriors/IMG_0390.jpeg' title='Wood Storage Building' %}
    <h2>Wood Buildings</h2>
  </a>
  <a href="/slideshow/metal/" class="hide-on-mobile">
    <h2>Metal Buildings</h2>
    {% include picture.html url='assets/photos/metalBuildings/20240320_075203.jpeg' title='Metal Building' %}
  </a>
  <a href="/slideshow/metal/" class="hide-on-mobile">
    <div>
      {% include picture.html url='assets/photos/metalBuildings/IMG_0861.jpeg' title='Carport' %}
      <h1 class="header-on-dark">Carports and Garages</h1>
    </div>
  </a>

  <!-- Mobile slideshows -->
  <a href="/slideshow/tinyhomes/" class="hide-on-desktop">
    <div>
      {% include picture.html url='assets/photos/tinyHomes/IMG_2397.jpeg' title='Finished Out Tiny Home' %}
      <h1 class="header-on-dark">Tiny Homes</h1>
    </div>
  </a>
  <a href="/slideshow/wood/" class="hide-on-desktop">
    <div>
      {% include picture.html url='assets/photos/woodBuildingsExteriors/IMG_0390.jpeg' title='Wood Storage Building' %}
      <h1 class="header-on-dark">Wood Buildings</h1>
    </div>
  </a>
  <a href="/slideshow/metal/" class="hide-on-desktop">
    <div>
      {% include picture.html url='assets/photos/metalBuildings/20240320_075203.jpeg' title='Metal Building' %}
      <h1 class="header-on-dark">Metal Buildings</h1>
    </div>
  </a>
  <a href="/slideshow/metal/" class="hide-on-desktop">
    <div>
      {% include picture.html url='assets/photos/metalBuildings/IMG_0861.jpeg' title='Carport' %}
      <h1 class="header-on-dark">Carports and Garages</h1>
    </div>
  </a>

</div>
