---
layout: base
---

<div class="navigation-bar" role="heading">
  <a href="{{ '/' | relative_url }}">
    {% include picture.html url=site.data.site.logo title='Site logo' %}
    {{ site.data.site.title }}
  </a>
  <div class="nav-right">
    {% for navlink in site.data.navigation %}
      <a href="{{ navlink.url }}">{{ navlink.text }}</a>
    {% endfor %}
  </div>
</div>

{{ content }}

<div class="mechstack-footer">
  <span>Website powered by</span>
  <a href="https://mechstack.dev/">Mechstack</a>
</div>
